* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    background-color: #17171A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 250px;
    margin-left: 20px;
}

#ico-abrir {
    display: none;
    transition: .4s ease;
}

#ico-fechar {
    display: none;
    transition: .4s ease;
}

#ico-fechar:hover, #ico-abrir:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.list-menu {
    display: flex;
    gap: 30px;
    margin-right: 30px;
    padding: 15px;
}

header ul a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    transition: .6s ease;
}

header ul a:hover {
    color: #c48f56;
}

.banner-top {
    background-image: url('/img/banner-top.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.banner-top h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 18%;
    font-size: 4em;
    color: #fff;
}

#color-souza {
    color: #c48f56;
}

.banner-top h3 {
    padding: 5px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.banner-top a {
    color: #fff;
    background-color: #c48f56;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 25px;
    max-width: 250px;
    text-align: center;
    margin: 20px auto;
    display: block;
    transition: .3s ease;
}

.banner-top a:hover {
    transform: scale(1.09);
}

@media(max-width: 760px) {

    header img {
        max-width: 200px;
    }

    header {
        display: block;
    }

    .list-menu {
        display: none;
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin: 0;
    }

    header ul a {
        padding: 20px;
        list-style: none;
        text-align: center;
    }

    header ul a:hover {
        background-color: #c48f56;
        color: #17171A;
    }

    #ico-abrir {
        float: right;
        display: block;
        margin-top: 35px;
        max-width: 40px;
        margin-right: 20px;
    }

    #ico-fechar {
        float: right;
        margin-top: 35px;
        margin-right: 20px;
    }

    .banner-top h2 {
        padding-top: 35%;
        font-size: 3.1em;
    }


}